* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173, 216, 230);
}

/* header */

.title h1 {
  font-size: 50px;
  font-family: impact;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}


/* container centramento */

.container {
  width: 50%;
  margin: 0 auto;
}

/* main */

.card {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid grey;
}

.image-card {
  position: relative;
  margin-top: 40px;
}

.left-center {
  position: absolute;
  left: 25%;
}
.center {
  position: absolute;
  right: 26%;
}

.right {
  position: absolute;
  right: 0;
}

#special {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
