* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173, 216, 230);
}

.container {
  margin: 0 auto;
  width: 60%;
}

.row::after {
  content: ="";
  display: table;
  clear: both;
}

/* header */

.title h1 {
  font-size: 50px;
  font-family: impact;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
  margin-top: 20px;
}

/* colonne */

[class^="col-"] {
  float: left;
}

.col-100{
  width: 100%;
}

/* main */

.bg-card {
  margin-top: 5%;
}

.card {
  width: 220px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-left: 4%;
  float: left;
}

 .baloon{
   width: 220px;
   height: 250px;
   border-radius: 10px;
   border: 1px solid grey;
   margin-left: 4%;
   background-color: #fff;
   background-image: url("../img/balloon.png");
   background-size: 80%;
   background-position: center;
   background-repeat: no-repeat;
   float: left;
   position: relative;
 }

#text {
  position: absolute;
  bottom: 6%;
  left: 25%;
}
